# Test Reports

{% file src="../.gitbook/assets/relatorio\_testes\_2sprint.pdf" caption="Relatório de testes 2ª Sprint" %}

{% file src="../.gitbook/assets/preparacao\_testes\_2print.pdf" caption="Preparação de testes 2ª Sprint" %}

