# Test Reports

{% file src="../.gitbook/assets/relatoriodetestes2sprint.pdf" caption="Relatório de testes 2ª Sprint" %}

{% file src="../.gitbook/assets/preparacaodetestes2sprint.pdf" caption="Preparação de testes 2ª Sprint" %}

{% file src="../.gitbook/assets/relatorio_testes_3sprint_PIUC.pdf" caption="Relatório de testes 3ª Sprint PIUC" %}

{% file src="../.gitbook/assets/preparacao_testes_3sprint_PIUC.pdf" caption="Planeamento de testes 3ª Sprint PIUC" %}

{% file src="../.gitbook/assets/preparacao_testes_3sprint_WS.pdf" caption="Planeamento de testes 3ª Sprint WeSearchers" %}
