# Test Reports

{% file src="../.gitbook/assets/relatoriodetestes2sprint.pdf" caption="ES2018\_RelatorioFeedback\_Sprint2\_v0.1" %}

{% file src="../.gitbook/assets/preparacaodetestes2sprint.pdf" caption="ES2018\_PreparaçãoTestes\_Sprint2\_v0.1" %}

{% file src="../.gitbook/assets/relatorio\_testes\_3sprint\_piuc.pdf" caption="ES2018\_RelatorioFeedback\_Sprint3\_PIUC\_v0.1" %}

{% file src="../.gitbook/assets/preparacao\_testes\_3sprint\_piuc.pdf" caption="ES2018\_PreparaçãoTestes\_Sprint3\_PIUC\_v0.1" %}

{% file src="../.gitbook/assets/preparacao\_testes\_3sprint\_ws.pdf" caption="ES2018\_Preparação\_E\_Feedback\_Testes\_v1.0" %}

