# Test Reports

{% file src="../.gitbook/assets/relatoriodetestes2sprint.pdf" caption="ES2018_RelatorioFeedback_Sprint2_v0.1" %}

{% file src="../.gitbook/assets/preparacaodetestes2sprint.pdf" caption="ES2018_PreparaçãoTestes_Sprint2_v0.1" %}

{% file src="../.gitbook/assets/relatorio\_testes\_3sprint\_piuc.pdf" caption="ES2018_RelatorioFeedback_Sprint3_PIUC_v0.1" %}

{% file src="../.gitbook/assets/preparacao\_testes\_3sprint\_piuc.pdf" caption="ES2018_PreparaçãoTestes_Sprint3_PIUC_v0.1" %}

{% file src="../.gitbook/assets/preparacao\_testes\_3sprint\_ws.pdf" caption="ES2018_Preparação_E_Feedback_Testes_v1.0" %}

