# Test Reports

{% file src="../.gitbook/assets/relatoriodetestes2sprint.pdf" caption="Relatório de testes 2ª Sprint" %}

{% file src="../.gitbook/assets/preparacaodetestes2sprint.pdf" caption="Preparação de testes 2ª Sprint" %}

{% file src="../.gitbook/assets/relatorio\_testes\_3sprint\_piuc.pdf" caption="Relatório de testes 3ª Sprint PIUC" %}

{% file src="../.gitbook/assets/preparacao\_testes\_3sprint\_piuc.pdf" caption="Planeamento de testes 3ª Sprint PIUC" %}

{% file src="../.gitbook/assets/preparacao\_testes\_3sprint\_ws.pdf" caption="Planeamento de testes 3ª Sprint WeSearchers" %}

