# Test Reports

{% file src="../.gitbook/assets/relatoriodetestes2sprint.pdf" caption="Relatório de testes 2ª Sprint" %}

{% file src="../.gitbook/assets/preparacaodetestes2sprint.pdf" caption="Preparação de testes 2ª Sprint" %}

